.bio_wrapper{
  display: inline-block;
  border-radius: 5px;
  max-width: 230px;
  margin: -85px 0px 0px 30px;
}
@media (max-width: 980px) {
  .bio_wrapper {
    display: none;
  }
}
.bio_tag_page_wrapper {
  display: inline-block;
  border-radius: 5px;
  max-width: 230px;
  margin: -62px 0px 0px 30px;
}
@media (max-width: 980px) {
  .bio_tag_page_wrapper {
    display: none;
  }
}
.bio_post_page_wrapper {
  display: inline-block;
  border-radius: 5px;
  max-width: 230px;
  margin: -113.5px 0px 0px 30px;
}
@media (max-width: 980px) {
  .bio_post_page_wrapper {
    display: none;
  }
}
.bio_card{
  background-color: rgba(255, 230, 230, 0.3);
  height: 330px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}
.bio_name{
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
}
.bio_description{
  font-weight: bold;
  font-size: 0.7em;
  margin: 4px 0px 0px 0px;
}
.bio_image_wrapper{
  text-align: center;
  margin: -3px 0px 10px 0px;
}
.bio_image{
  display: inline-block;
  /* border: 2.5px solid #605c5c; */
  border-radius: 15px;
}
.bio_email_wrapper{
  /* width: 200px; */
  margin: 0 auto ;
  display:flex;
  /* justify-content: space-between; */
  font-size: 12px;
}

.bio_follow_string{
  text-align: center;
  font-weight: bold;
  color: #ff7ad7;
}
