.bio_wrapper{
  display: inline-block;

  border: 2.5px solid #605c5c;
  max-width: 100%;
  border-radius: 5px;

  margin-top: -85px;
  margin-left: 20px;
}

.bio_card{
  background-color: rgba(255, 230, 230, 0.3);
  height: 380px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

@media (max-width: 1020px) {
  .bio_wrapper{
  display: none;
}}

.bio_name{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.bio_description{
  font-weight: bold;
}


.bio_image_wrapper{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;

}

.bio_image{
  display: inline-block;
  border: 2.5px solid #605c5c;
  border-radius: 15px;
}

.bio_email_wrapper{
  width: 200px;
  margin: 0 auto ;
  display:flex;
  justify-content: space-between;
}
