.bio_wrapper{
  display: inline-block;
  border: 2.5px solid #605c5c;
  border-radius: 5px;
  max-width: 250px;
  margin-top: -85px;
  margin-left: 30px;
}

.bio_tag_page_wrapper {
  display: inline-block;
  border: 2.5px solid #605c5c;
  border-radius: 5px;
  max-width: 250px;
  margin-top: -54.5px;
  margin-left: 30px;
}

.bio_card{
  background-color: rgba(255, 230, 230, 0.3);
  height: 330px;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
}

@media (max-width: 1040px) {
  .bio_wrapper{
  display: none;
}}

.bio_name{
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
}

.bio_description{
  font-weight: bold;
  font-size: 0.7em;
}


.bio_image_wrapper{
  text-align: center;
  margin-top: -3px;
  margin-bottom: 10px;

}

.bio_image{
  display: inline-block;
  border: 2.5px solid #605c5c;
  border-radius: 15px;
}

.bio_email_wrapper{
  width: 200px;
  margin: 0 auto ;
  display:flex;
  justify-content: space-between;
}
