.header_button {
  padding: 6px 10px 8px 10px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #ff96df;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-display: swap;
  font-family: 'Kiwi Maru', serif;
  font-size: 15px;
}

.header_button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.header_button:hover {
  opacity: 0.7
}

.sidebar_button {
  color: #000;
  font-display: swap;
  font-family: 'Kiwi Maru', serif;
  text-decoration: none;
  display: block;
  padding: 20px 0px 20px 0px;
  position: relative;
  text-decoration: none;
  z-index: 1;
  font-size: 16px;
}


.sidebar_button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.sidebar_button::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  bottom: 13px;
  content: '';
  width: 100%;
  height: 1px;
  background: #ff96df;
  transform: scale(0, 2.0);
  transform-origin: right top;
  transition: transform .5s;
}

.sidebar_button:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.share_button_wrapper{
  color: #484848;
  display:flex;
  padding-top: 7px;
  font-display: swap;
  font-family: 'Kiwi Maru',
  serif;
  font-weight: 700;
  font-size: 17px;
  max-width: 100%;
}

@media (max-width: 430px) {
  .share_button_wrapper {
    font-size: 13px;
  }
}

.share_buttons{
  margin-top: -3.3px 0px 0px 7px;
}

.category_tag_button{
  padding: 6px 10px 8px 10px;
  text-align: center;
  cursor: pointer;
  background-color: #ff96df;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-display: swap;
  font-family: 'Kiwi Maru',
  serif;
  font-size: 13px;
  margin: 10px 10px 0px 0px;
  font-weight: bold;
}



.category_tag_button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.category_tag_button:hover {
  opacity: 0.7
}

.card_tag_button {
  padding: 4px 8px 6px 8px;
  text-align: center;
  cursor: pointer;
  background-color: #ff96df;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-display: swap;
  font-family: 'Kiwi Maru', serif;
  font-size: 12px;
  margin: 10px 5px 0px 0px;
  font-weight: bold;
}

@media(max-width: 430px) {
  .card_tag_button {
    padding: 4px 6px 4px 6px;
    font-size: 10px;
    margin-left: 0px;
  }
}

.card_tag_button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.card_tag_button:hover {
  opacity: 0.7
}

.post_show_tag_button{
  padding: 4px 8px 6px 8px;
  text-align: center;
  cursor: pointer;
  background-color: #ff96df;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  font-display: swap;
  font-family: 'Kiwi Maru',
  serif;
  font-size: 12px;
  margin: 0px 5px 0px 5px;
  font-weight: bold;

}

.post_show_tag_button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.post_show_tag_button:hover {
  opacity: 0.7
}

.post_show_share_buttons {
  margin-bottom: 20px
}
