.article_wrapper{
  flex: 7;
}

.article_card_box {
  margin-top: 30px;
  width: 100%;
  filter: drop-shadow(6px 4px 4px rgba(47, 47, 47, 0.7));

}


.article_card{
  background-color: rgba(255, 230, 230, 0.3);
  color: rgb(0, 0, 0);
  border: 2.5px solid #605c5c;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 140px;
  position: relative;
}

@media(max-width: 430px) {
  .article_card {
    height: 160px;
  }
}

@media(min-width:430px) and (max-width:600px) {
  .article_card {
    height: 200px;
  }
}

.article_card:hover {
  background-color: rgba(255, 175, 175, 0.3)
}

.article_title{
  font-size: 16px;
  margin-top: -10px;
  font-weight: 700;

}

@media(max-width: 430px) {
  .article_title {
  font-size: 11px;
  margin-left: -15px;

  }
}

.article_description{
  margin-top: 5px;
  font-size: 13px;

}

@media(max-width: 760px) {
  .article_description {
    display: none;
  }
}

.article_date{
  margin-top: 10px;
  position: relative;
  position: absolute;
  bottom: 7px;
  font-family: 'Kiwi Maru', serif;
}

.article_image{
  width: 95px;
  height: 95px;
  margin: 4px 0px 0px -2px;
  border: 2px solid #605c5c;
  border-radius: 3px;
  background-color: #ffffff;
}

@media(max-width: 430px) {
  .article_image {
    margin: 5px 0px 0px -2px;
  }
}

@media(min-width:430px) and (max-width:600px) {
  .article_image {
    margin: 35px 0px 0px -2px;
  }
}

@media(max-width: 430px) {
  .article_tags_wrapper {
    margin-left: -15px;
  }
}
