@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
.category_wrapper {
  border: 2.5px solid #605c5c;
  max-width: 250px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 35px;

}

@media (max-width: 1040px) {
  .category_wrapper {
    display: none;
  }
}

.category_card {
  background-color: rgba(255, 230, 230, 0.3);
  height: 380px;

}

.category_title{
  text-align: center;
  padding: 5px;
  background-color: #ffd8f3;
  margin-top: -10px;
  border-radius: 5px;
  font-family: 'Kiwi Maru', serif;
  font-weight: bold;
  font-size: 20px
}
