.category_wrapper {
  border: 2.5px solid #605c5c;
  max-width: 230px;
  border-radius: 5px;
  margin: 20px 0px 0px 30px;
}

@media (max-width: 980px) {
  .category_wrapper {
    display: none;
  }
}


.posts_category_wrapper{
  border: 2.5px solid #605c5c;
  max-width: 230px;
  border-radius: 5px;
  margin: 20px 0px 0px 30px;
  position: sticky;
  top: 130px;
}

@media (max-width: 980px) {
  .posts_category_wrapper {
    display: none;
  }
}

.posts_show_category_wrapper{
  border: 2.5px solid #605c5c;
  max-width: 230px;
  border-radius: 5px;
  margin: 450px 0px 0px 30px;
}

@media (max-width: 980px) {
  .posts_show_category_wrapper {
    display: none;
  }
}

.category_card {
  background-color: rgba(255, 230, 230, 0.3);
}

.category_title_wrapper{
  /* padding: 5px 5px 5px 5px; */
  /* background-color: #ffd8f3; */
  margin: -10px 0px 0px 19px;
  border-radius: 5px;
  font-family: 'Kiwi Maru', serif;
  display:flex;
  align-items: center;
}

.category_title{
  margin: 0px 0px 2px 2px;
  font-weight: bold;
  font-size: 20px;
}
