.menu_icon_button {
  color: #ffffff;
  background-color: #ff96df;
  box-shadow: 2.7px 3.2px 2px 0.3px #938d90;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 3px;

}

.menu_icon_button:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.menu_icon_button:hover {
  background-color: #faa6e1;
}

.calender_icon{
  position: absolute;
  top: -3.7px;
  left: -3px;
}
