.search_form{
  margin:20px 0px -10px 0;
  width: 50%;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #3e3d3d;
  box-sizing: border-box;
  font-family: 'Kiwi Maru', serif;
  background-color: #ffdff6;
  outline: 0;
}
