.sidebar_menu {
  width: 50%;
  height: 100%;
  color: #000000;
  background-color: rgba(255, 117, 117, 0.3);
  list-style: none;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  margin: 0 calc(50% - 50vw);
  text-align: center;
}

.sidebar_li{
  width: 100%;
  border: 2px dotted #000000;
  margin-bottom: 20px;
  background: rgba(80, 64, 64, 0.3);

}
